/* NavBar */
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-link,
.navbar-brand {
    color: #fff;
}

.active {
    color: #fff;
    text-decoration: underline;
}

.dropdown-menu {
    width: 300px;
    overflow: hidden;
}

/* Carousel */

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}


/* Redes Sociales */
.filaSociales {
    justify-content: space-evenly;
}
