<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8">
    <meta name="author" content="Agustin Minzoni">
    <meta name="desciption"
        content="I.S.E.T. Nro 25 BEPPO LEVI es una institución educativa técnica en Santa Fe que ofrece cursos de nivel secundario y terciario en diferentes áreas.">
    <meta name="keywords"
        content="I.S.E.T. Nro 25 BEPPO LEVI, educación técnica, Santa Fe, cursos técnicos, cursos terciarios">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="es">
    <!-- Titulo -->
    <title>I.S.E.T. Nro 25 BEPPO LEVI - Educación técnica en Santa Fe</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/beppo.png" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- Encabezado -->
    <header>
        <!-- Barra de navegacion -->
        <nav class="navbar navbar-expand-md shadow-sm bg-primary p-1 fixed-top" data-bs-theme="dark" id="navbar" data-aos="fade-right">
            <div class="container-fluid">
                <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-toggler">
                    <a class="navbar-brand" href="../index.html#Inicio">
                        <img src="../img/beppo.png" width="50" alt="Logo de la institución">
                        I.S.E.T. Nro 25 BEPPO LEVI
                    </a>
                    <ul class="navbar-nav d-flex ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html#Inicio">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#Inscripcion">Inscripción</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Carreras
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./desarroloDeSoftware.html">Técnico Superior en
                                        Desarrollo de Software</a>
                                </li>
                                <li><a class="dropdown-item" href="./analistaMedioAmbiente.html">Analista en Medio
                                        Ambiente</a></li>
                                <li><a class="dropdown-item" href="./comercioExterior.html">Técnico Superior en Comercio
                                        Exterior</a></li>
                                <li><a class="dropdown-item"
                                        href="./comercializacionAdministracionEmpresas.html">Técnico Superior en
                                        Comercialización y
                                        Administración de Empresas</a></li>
                                <li><a class="dropdown-item" href="./higieneSeguridadTrabajo.html">Técnico Superior en
                                        Higiene y Seguridad en el
                                        Trabajo</a></li>
                                <li><a class="dropdown-item" href="./sistemasControl.html">Analista en Sistemas de
                                        Control</a></li>
                                <li><a class="dropdown-item" href="./microelectronica.html">Analista en
                                        Microelectrónica</a></li>
                                <li><a class="dropdown-item" href="./quimicoSuperiorIndustrial.html">Químico Superior
                                        Industrial</a></li>
                                <li><a class="dropdown-item" href="./quimicoSuperiorAnalista.html">Químico Superior
                                        Analista</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#Cedes">Nuestras cedes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#Contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="mt-5" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%"
        data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">

        <!-- Hero -->
        <section>
            <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-aos="fade-down"
                >
                <div class="carousel-inner">
                    <div class="carousel-item active c-item">
                        <img src="../img/carousel2.jpg" class="d-block w-100 c-img" alt="...">
                        <div class="carousel-caption  top-0 mt-4 ">
                            <p class="mt-5 fs-3 text-uppercase">Instituto Superior de educación técnica Nº25 "Beppo
                                Levi"</p>
                            <p class="fs-1  fw-bolder text-capitalize">Comercialización y Administración de Empresas</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Objetivos de la carrera -->
        <section class="shadow-sm mb-5" data-aos="fade-down">
            <div class="container text-center">
                <h3 class="my-3"> Objetivos de la Carrera</h3>
                <div class="row justify-content-evenly">
                    <h4 class="mb-3">Preparar profesionales capacitados para: </h4>
                    <ul class="text-start col-8 fs-5">
                        <li>Diseñar el organigrama interno de los departamentos de una empresa o sociedad comercial.
                        </li>
                        <li>Asesorar sobre cuestiones vinculadas al acceso al crédito, operatoria bancaria y
                            financiamiento de operaciones comerciales.</li>
                        <li>Diseñar estrategias de comercialización de bienes y servicios.</li>
                        <li>Adaptar los productos a las necesidades de los distintos mercados y nichos comerciales.</li>
                        <li>Realizar una racional gestión de los recursos humanos dentro de la empresa.</li>
                        <li>Planificar el establecimiento de canales de comercialización y distribución de mercaderías.
                        </li>
                        <li>Diseñar estrategias de publicidad y promoción para la colocación de productos en el mercado.
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Materias -->
        <section class="shadow-sm mb-5" data-aos="zoom-in" >
            <div class="container">
                <h3 class="mb-3">Materias</h3>
                <div class="row ">
                    <div class="col-lg-4 col-md-6">
                        <h4>1er Año</h4>
                        <ul>
                            <li>Economía I</li>
                            <li>Introducción al comercio exterior</li>
                            <li>Derecho Comercial</li>
                            <li>Administración</li>
                            <li>Matemática Aplicada</li>
                            <li>Contabilidad I</li>
                            <li>Antropología Filosófica</li>
                            <li>Técnica y Práctica Aduanera</li>
                            <li>Computación I</li>
                            <li>Inglés I</li>

                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h4>2do Año</h4>
                        <ul>
                            <li>Mercadotecnia</li>
                            <li>Estadística</li>
                            <li>Financiamiento y Cambio</li>
                            <li>Patentes y Marcas</li>
                            <li>Formación Nacional</li>
                            <li>Análisis de Costos</li>
                            <li>Matemática Financiera</li>
                            <li>Técnica y Práctica Aduanera II</li>
                            <li>Computación II</li>
                            <li>Inglés II</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h4>3do Año</h4>
                        <ul>
                            <li>Mercadotecnia Internacional</li>
                            <li>Administración de la Empresa</li>
                            <li>Planeamiento y Mercadeo Estratégico</li>
                            <li>Geografía Económica</li>
                            <li>Promoción y Publicidad</li>
                            <li>Derecho Aplicado</li>
                            <li>Economía II</li>
                            <li>Contabilidad II</li>
                            <li>Práctica Profesional y Redacción Comercial</li>
                            <li>Inglés III</li>
                            <li>Ética y Deontología Profesional</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Correlativas -->
        <section class="mb-5" data-aos="fade-up" >
            <div class="container">
                <h3 class="mb-4">Régimen de Correlatividades</h3>
                <div class="row">
                    <p>
                        La trayectoria que realice cada estudiante en la carrera, deberá respetar las siguientes
                        pautas del régimen de cursado y correlatividades. Las correlatividades se establecen en
                        función de los procesos que se pretenden desarrollar en el transcurso de la formación y
                        de los alcances de contenidos correspondientes a cada unidad curricular.
                    </p>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Para rendir:</h4>
                        <ol>
                            <li>
                                Mercadotecnia
                            </li>
                            <li>
                                Estadística
                            </li>
                            <li>
                                Régimen Impositivo
                            </li>
                            <li>
                                Financiamiento y Cambio
                            </li>
                            <li>
                                Patentes y Marcas
                            </li>
                            <li>
                                Análisis de Costos
                            </li>
                            <li>
                                Matemática Financiera
                            </li>
                            <li>
                                Técnica y Práctica Aduanera II
                            </li>
                            <li>
                                Computación II
                            </li>
                            <li>
                                Inglés II
                            </li>
                            <li>
                                Mercadotecnia Internacional
                            </li>
                            <li>
                                Administración de la Empresa
                            </li>
                            <li>
                                Planeamiento y Mercadeo Estratégico
                            </li>
                            <li>
                                Geografía Económica
                            </li>
                            <li>
                                Promoción y Publicidad
                            </li>
                            <li>
                                Derecho Aplicado
                            </li>
                            <li>
                                Economía II
                            </li>
                            <li>
                                Contabilidad II
                            </li>
                            <li>
                                Práctica Profesionalizante y Redacción Comercial
                            </li>
                            <li>
                                Inglés III
                            </li>
                        </ol>
                    </div>
                    <div class="col">
                        <h4>Debe tener aprobada:</h4>
                        <ol>
                            <li>
                                Economía I
                            </li>
                            <li>
                                Matemática Aplicada
                            </li>
                            <li>
                                Derecho Comercial
                            </li>
                            <li>
                                Economía I - Contabilidad I
                            </li>
                            <li>
                                Derecho Comercial
                            </li>
                            <li>
                                Contabilidad I
                            </li>
                            <li>
                                Matemática Aplicada
                            </li>
                            <li>
                                Técnica y Práctica Aduanera I
                            </li>
                            <li>
                                Computación I
                            </li>
                            <li>
                                Inglés I
                            </li>
                            <li>
                                Introducción al Comercio Exterior - Mercadotecnia
                            </li>
                            <li>
                                Administración
                            </li>
                            <li>
                                Mercadotecnia
                            </li>
                            <li>
                                Economía I
                            </li>
                            <li>
                                Derecho Comercial - Mercadotecnia
                            </li>
                            <li>
                                Derecho Comercial
                            </li>
                            <li>
                                Economía I
                            </li>
                            <li>
                                Contabilidad I
                            </li>
                            <li>
                                Administración
                            </li>
                            <li>
                                Inglés II
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <footer class="bg-dark text-white py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Información de Contacto</h5>
                        <p>Teléfonos:
                            <br>
                            (03476) 447580
                            <br>
                            (03476) 426219
                            <br>
                            (0341) 4247844
                        </p>
                        <p>Email: info@iset25beppolevi.edu</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Enlaces Rápidos</h5>
                        <ul class="list-unstyled">
                            <li><a href="../index.html#Inicio">Inicio</a></li>
                            <li><a href="../index.html#Inscripcion">Inscripción</a></li>
                            <li><a href="../index.html#Cedes">Nuestras Cedes</a></li>
                            <li><a href="../index.html#Contacto">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Redes Sociales</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://www.facebook.com/ISET25/?locale=es_LA" target="_blank"><i
                                        class="bi bi-facebook"></i> Facebook</a></li>
                            <li><a href="https://www.instagram.com/iset25beppolevi" target="_blank"><i
                                        class="bi bi-instagram"></i> Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <p>&copy; 2023 I.S.E.T. Nro 25 "BEPPO LEVI". Todos los derechos reservados. Creado con <i
                                class="bi bi-heart"></i> por <a href="https://agustinminzoni.com"
                                target="_blank">Agustin Minzoni</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>